/* .carousel-item {
  margin-bottom: 255px;
} */
/* .carousel-item {
  object-fit: cover;
  width: 100%;
} */
/* .carousel-item img {
  width: 100%; 
  height: 450px; 
  object-fit: cover; 
} */

.carousel-item img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* MEDIA QUERY */
@media (width: 430px) {
  .carousel-item {
    margin-bottom: 0px;
  }
}

@media (width: 414px) {
  .carousel-item {
    margin-bottom: 0px;
  }
}

@media (width: 412px) {
  .carousel-item {
    margin-bottom: 0px;
  }
}

@media (width: 400px) {
  .carousel-item {
    margin-bottom: 0px;
  }
}

@media (width: 390px) {
  .carousel-item {
    margin-bottom: 0px;
  }
}

@media (width: 360px) {
  .carousel-item {
    margin-bottom: 0px;
  }
}

@media (width: 375px) {
  .carousel-item {
    margin-bottom: 0px;
  }
}
