.carousel-item img {
  width: 100%; /* ou um tamanho específico em pixels, % ou outras unidades */
 /* height: 400px;  Exemplo de altura fixa */
  height: 710px; /* Exemplo de altura fixa */
  object-fit: cover; /* Para cobrir o espaço sem distorcer a imagem */
}