.search_boxP input {
    background: #F0F0E9;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    /* width: 155px; */
    width: 300px;
    /* background-image: url(../images/home/searchicon.png); */
    background-repeat: no-repeat;
    background-position: 130px;
  }
.dataResult {
    /* margin-top: 5px; */
    width: 100%;
    height: 200px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*  */
    z-index: 1;
}

.dataResult::-webkit-scrollbar {
    display: block;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #01153e;
}

.dataItem p{
    /* text-align: center; */
    margin-left: 10px;
    color: #01153e;
    text-transform: capitalize;
}